<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta %}
    {% endblock meta %}
    {% block style %}
        <link href="{{ url_for('blogging.static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('blogging.static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <style>
        body { padding-top: 80px;}

       .modal-header {
  background: #512DA8;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; }

    .row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

    img {
        width: 100%;
        height: auto;
        max-width: 800px;
    }


    </style>
    {% endblock style %}
    {% block extrastyle %}
    {% endblock extrastyle %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>


</head>
<body>

    <!-- navbar header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href='{{ config.BLOGGING_BRANDURL or "/"}}' class="navbar-brand">
                    {{ config.BLOGGING_SITENAME or 'Flask-Blogging'}}
                </a>
            </div>
            <span class="navbar-text">
                    {% if current_user.is_authenticated %}
                        <a href="/blog/logout/"> <span class="fa fa-sign-out">Logout</span> </a>
                    {% else %}
                        <a id="loginLink">
                            <span class="fa fa-sign-in">Login</span>
                        </a>
                    {% endif %}
            </span>
        </div>
    </div>

    <div id="loginModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
					            <button class="close" data-dismiss="modal">&times;</button>
   					            <h4 class="modal-title">Login </h4>
                </div>
                <div class="modal-body">
					<form action="/blog/login">
						<div class="form-row">
							<div class="form-group col-sm-4">
								<label for="inputUsername" class="sr-only">Username</label>
								<input type="text" id="inputUsername" class="form-control form-control-sm mr-1" placeholder="Username" name="uname">
							</div>
							<div class="form-group col-sm-4">
								<label for="inputPasswd" class="sr-only">Password</label>
								<input type="password" id="inputPasswd" class="form-control form-control-sm mr-1" placeholder="Password" name="psw">
							</div>
							<div class="col-sm-auto">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" checked="checked">
									<label class="form-check-label">Remember me</label>
								</div>
							</div>
						</div>
						<div class="form-row">
							<button class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
							<button class="btn btn-primary btn-sm ml-1">Sign in</button>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- main content -->
     <div class="container">
         {% block message %}
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    <div id="alert_div" class="alert alert-{{category}} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    </div>
                 </div>
                {% endfor %}
            {% endif %}
         {% endwith %}

         {% endblock %}
         {% block main %}
         {% endblock main %}
         {% block extramain %}
         {% endblock extramain %}
     </div>
    {% include "blogging/analytics.html" %}
    {% block js %}
    <script type="text/javascript" src="{{ url_for('blogging.static', filename='js/jQuery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/javascript" src="{{ url_for('blogging.static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
          "HTML-CSS": {
          styles: {
          ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
          },
          tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true}
          });
    </script>

    <script>
        $(document).ready(function(){
            $("#alert_div").fadeTo(3000, 500).slideUp(500, function(){
               $("#alert_div").slideUp(500);
                });

            $('#loginLink').click(function(){
            console.log('login triggered');
            $('#loginModal').modal();
        });


        })
    </script>

    {% endblock js %}
    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>
